*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body{
    line-height: 16px;
    font-size: 12px;
}
button,input{
    border-radius: 0;
    border: 0;
}
fieldset{
    border: 0;
}
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.special_bar{
    height: 160px;
}
.naverlogo{
    background-image: url(./naverlogo.png);
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: top;
    background-size: 440px 410px;
}
header .group_flex{
    width: 1130px;
    height:100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}
.service_area{
    clear: both;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 27px;
}
.service_area .link_set{
    float: left;
    font-size: 11px;
    color: #404040;
}
.service_area .link_set:hover{
    text-decoration:underline;
}
.service_area .link_set:after{
    width: 26px;
    height: 26px;
    background-position: -382px -213px;
    content:'';
    margin: -3px 0 0 3px;
}
.service_area .sa_bar{
    float:left;
    width: 1px;
    height: 10px;
    margin: 3px 7px;
    background-color: #e4e8eb;
}
.service_area .link_jrnaver{
    float: left;
    position: relative;
}
header .service_area .link_jrnaver .jrnaver_ico{
    background-position: -333px -267px;
    width: 60px;
    height: 10px;
    margin: 3px;
}
.service_area .link_jrnaver .jrnaver_ico:hover{
    background-image: url(./naverlogo.png);
    background-size: 440px 410px;
    background-position: -257px -296px;
    background-repeat: no-repeat;

}
.service_area .link_happybean{
    float: left;
}
header .service_area .happybean_ico{
    width: 34px;
    height: 11px;
    background-position: -257px -308px;
    margin: 3px 3px 2px;
}
.service_area .happybean_ico:hover{
    background-image: url(./naverlogo.png);
    background-size: 440px 410px;
    background-position: -380px -199px;
    background-repeat: no-repeat;
}
header .logo_area{
    position: relative;
    height: 100%;
}
header .logo_default{
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;
}

header .logo_area .logo_ico{
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
}
header .search_bar{
    position: absolute;
    top: 50%;
    left: 268px;
    margin-top: -28px;
}
header .search_bar .green_box{
    width:582px;
    height:52px;
    border: 2px solid #19ce60;
    border-radius: 2px;
}
header .search_bar .green_box .input_text{
    width: 444px;
    line-height: 24px;
    padding: 13px 15px;
    margin: 1px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    outline: 0;
}

header .search_bar .search_btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 56px;
    background-color: #19ce60;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}
header .search_bar .search_btn .search_btn_ico{
    width: 22px;
    height: 22px;
    background-position: -180px -386px;
}
header .search_bar .keyboard_btn{
    position: absolute;
    top: 0;
    right: 84px;
    bottom: 0;
    width: 36px;
}
header .search_bar .keyboard_ico{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 12px;
    background-position: -420px -248px;
    margin: -6px 0 0 -10px;
    cursor: pointer;
}

header .search_bar .keyboard_ico:hover{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 12px;
    background-position: -420px -262px;
    margin: -6px 0 0 -10px;

}
header .search_bar .autocomplete{
    position: absolute;
    top: 0;
    right: 64px;
    bottom: 0;
    width: 22px;
}
header .search_bar .autocomplete_ico{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 5px;
    background-position: -404px -258px;
    background-repeat: no-repeat;
    margin: -2px 0 0 -5px;
    cursor: pointer;
}